{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.png' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>"Si necesitas asesoramiento en el sector inmobiliario, financiero o tecnológico, estaré encantado de ayudarte. Con una trayectoria consolidada en el ámbito jurídico y un enfoque innovador en el desarrollo tecnológico, ofrezco soluciones estratégicas adaptadas a tus objetivos. No dudes en ponerte en contacto para explorar oportunidades, mejorar procesos y dar forma a nuevos proyectos con confianza y visión profesional."</p>
        <br>
        <p><b>Teléfono:</b> +34 614 21 85 65</p>
        <p><b>Email:</b> mmeneses73@gmail.com</p>

        <!-- Formulario de contacto -->
        <form method="POST" action="{% url 'send_email' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Tu nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Tu correo:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" class="form-control" rows="5" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar mensaje</button>
        </form>
    </div>
</div>
{% endblock %}
