{% extends 'core/base.html' %}
{% load static %}

{% block title %}Portada{% endblock %}

{% block background %}{% static 'core/img/home-bg.png' %}{% endblock %}

{% block headers %}
<br>
<h1>Miguel Meneses</h1>
<br>
<span class="subheading" style="color: gold;">Legal Advisor Real Estate</span>
<br>
<span class="subheading" style="color: red;">Full Stack Developer</span>
{% endblock %}

{% block extra_js %}
<style>
  .masthead {
    min-height: 600px;
    max-height: 90vh;
  }
</style>
{% endblock %}
