{% extends 'core/base.html' %}

{% block title %}
Portada
{% endblock %}

{% block background %}
{% static 'core/img/fondo.jpg' %}
{% endblock %}

{% block headers %}
<h1>Miguel Meneses</h1>
<span class="subheading text-bg-success">Legal Advisor · Full Stack Developer</span>
{% endblock %}

{% block content %}
<div class="container text-white py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <p class="lead">
        🧪 Esta plantilla extiende <code>core/base.html</code> correctamente.
      </p>
      <p>
        Bienvenido a mi sitio web profesional. Aquí podrás encontrar información sobre mis proyectos, certificaciones y cómo contactarme.
      </p>
      <a href="{% url 'portfolio' %}" class="btn btn-outline-light btn-lg mt-3">
        <i class="fas fa-briefcase"></i> Ver Portafolio
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}
